.remark-slide-content{background-color: #F7F7FD;}
a {
  font-weight: bold;
  color: #C10000;
  font-family: Andale Mono, monospace;
  font-size:20px;
  font-style: normal;
  text-decoration:none;
}
h1{color: #000040;
    font-family: Yanone Kaffeesatz, monospace;
     font-size:20px;

}
p{.remark-slide-content {
  font-size:25px;
  font-style: normal;
 font-family: Times New Roman, Times, serif
}
h3{color: #000040;}
